extends layout

block content
  .main.container.row
    h1 My To Do List
    form.form-inline(method='POST', action='/todo')
      .form-group
        label.col-sm-2.control-label(for='task') Todo
        .col-sm-10
          input.form-control(type='text', placeholder='Task', name='task')
    |
    button.btn.btn-primary(type='submit') Submit
  .main.container
    ul
      each todo in todos
       li  #{todo.task}
